@media only screen and (max-width : 1200px) {
.first-block {padding-top:0;}
.about {padding:0;
    padding-top: 100px;
    padding-bottom: 50px;}
}

@media screen and (max-width: 991px) {
    .foto {margin-left: 0;
       height: 165px;
       width: 165px;
       background-position: -40px -20px;}
    .about-1 {padding: 25px;}
    .about-1 h1 {font-size: 1.2em;}
    .about-1 h2 {font-size: 1em;
        margin-bottom: 10px;}
    .about-1 p {font-size: 0.9em;}
    .about {padding-top: 75px;
    padding-bottom: 25px;}
}

@media screen and (max-width: 768px) {
.about-1 p {font-size: 0.9em;}
 .foto {
    height: 160px;
    width: 160px;
     background-position: -45px -27px;}
}

@media screen and (max-width: 581px) {
    .about__foto {display:none;}
    .about-1 {width:100%;}
}
