@media only screen and (max-width : 1200px) {
.first-block {padding-top:0;}
.about {padding:0;
    padding-top: 100px;
    padding-bottom: 50px;}
}

@media screen and (max-width: 992px) {
    .foto {margin-left: 0;}
    .about-1 {padding: 25px;}
    .about-1 h1 {font-size: 1.2em;}
    .about-1 h2 {font-size: 1em;
        margin-bottom: 10px;}
    .about-1 p {font-size: 1em;}
}

@media screen and (max-width: 768px) {}
